.checkbox {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  border: 2px solid var(--blue-500);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checked {
  border: none;
  background-color: var(--purple-700);
  color: var(--gray-100);
}
